$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/static/fonts/icons" !default;

$icon-guillemets: "\e900";
$icon-facebook-with-circle: "\e915";
$icon-twitter-with-circle: "\e914";
$icon-linkedin-with-circle: "\e912";
$icon-linkedin: "\e913";
$icon-arrowlineL: "\e90e";
$icon-arrowlineR: "\e90f";
$icon-arrowlineB: "\e910";
$icon-arrowlineT: "\e911";
$icon-back: "\e90c";
$icon-arrow-r: "\e90d";
$icon-cloud: "\e90b";
$icon-twitter: "\e907";
$icon-brand: "\e907";
$icon-tweet: "\e907";
$icon-social: "\e907";
$icon-instagram: "\e908";
$icon-brand1: "\e908";
$icon-social1: "\e908";
$icon-youtube: "\e909";
$icon-brand2: "\e909";
$icon-social2: "\e909";
$icon-facebook: "\e90a";
$icon-brand3: "\e90a";
$icon-social3: "\e90a";

