<section id="about" class="about">

    <div class="container" data-aos="fade-up">
        <div class="row gx-0 flex-md-column-reverse flex-lg-row">

            <div class="mt-md-5 mt-lg-0 col-md-6 align-self-md-end align-self-lg-end col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="/static/images/theme/documentation.png" class="img-fluid d-none  d-md-inline-block" alt="">
            </div>

            <div class="col-md-8 col-lg-6 d-flex flex-column justify-content-center mb-4 mb-sm-0 mb-md-3 mb-lg-0" id="about-text" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <span class="h6 text-uppercase">{{ 'about_ethiques' | i18n }}</span>
                    <h2 class="h2 fw-black text-blue">{{ 'about_title' | i18n }}</h2>
                    <ul>
                        <li>{{ 'about_software' | i18n }}</li>
                        <li>{{ 'about_RGPD' | i18n }}</li>
                        <li>{{ 'about_Access' | i18n }}</li>
                        <li>{{ 'about_Facil' | i18n }}</li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="row gx-5">
            <div class="col-lg-4 mb-4 mb-lg-0  justify-content-center d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <a href="" target="_blank"><img src="/static/images/theme/ethique1.png" alt=""></a>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0  justify-content-center d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <a href="" target="_blank"><img src="/static/images/theme/ethique2.png" alt=""></a>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0  justify-content-center d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <a href="" target="_blank"><img src="/static/images/theme/ethique3.png" alt=""></a>
            </div>
        </div>
    </div>

</section>