<section id="apps" class="apps">

    <div class="container-xxl" data-aos="fade-up">

        <header class="section-header">
            <span class="h6 text-uppercase">{{ 'App_subtitle' | i18n }}</span>
            <h2>{{ 'App_title' | i18n }}</h2>
        </header>

        <div class="row">

            <div class="col-lg-12" id="toolsapp">

                <div class="swiper toolsSwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" id="slide-app1"><a href="https://www.fun-mooc.fr/" class="btn btn-light btn-md scrollto d-inline-flex align-items-center justify-content-center  " target="_blank"><span class="link-blue">{{ 'App_goto' | i18n }}</span><i class="bi bi-arrow-right link-black ms-1"></i></a></div>
                        <div class="swiper-slide" id="slide-app2"><a href="https://www.fun-corporate.fr/" class="btn btn-light btn-md scrollto d-inline-flex align-items-center justify-content-center  " target="_blank"><span class="link-blue">{{ 'App_goto' | i18n }}</span><i class="bi bi-arrow-right link-black ms-1"></i></a></div>
                        <div class="swiper-slide" id="slide-app3"><a href="https://www.fun-campus.fr/" class="btn btn-light btn-md scrollto d-inline-flex align-items-center justify-content-center  " target="_blank"><span class="link-blue">{{ 'App_goto' | i18n }}</span><i class="bi bi-arrow-right link-black ms-1"></i></a></div>
                        <div class="swiper-slide" id="slide-app4"><a href="https://meeting.education/" class="btn btn-light btn-md scrollto d-inline-flex align-items-center justify-content-center  " target="_blank"><span class="link-blue">{{ 'App_goto' | i18n }}</span><i class="bi bi-arrow-right link-black ms-1"></i></a></div>
                    </div>
                </div>

                <div id="toolsChoices">
                    <a  id="goto0" class="gototools button filter-active " data-index-number="0">
                        <h4>{{ 'App_mooc' | i18n }}</h4>
                        <p><small>
                                {{ 'App_moocText' | i18n }}
                            </small></p>
                    </a>
                    <a  id="goto1" class="gototools button " data-index-number="1">
                        <h4>{{ 'App_campus' | i18n }}</h4>
                        <p><small>
                                {{ 'App_campusText' | i18n }}
                            </small></p>
                    </a>
                    <a  id="goto2" class="gototools button " data-index-number="2">
                        <h4>{{ 'App_corp' | i18n }}</h4>
                        <p><small>
                                {{ 'App_corpText' | i18n }}
                            </small></p>
                    </a>
                    <a  id="goto3" class="gototools button " data-index-number="3">
                        <h4>{{ 'App_meet' | i18n }}</h4>
                        <p><small>
                                {{ 'App_meetText' | i18n }}
                            </small></p>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>