<section id="contact" class="text-center">
    <h2 class="h1 fw-black mb-5">{{ 'Contact' | i18n }}</h2>
    <h3 class="h5 col-8 m-auto mb-5 mt-0 fw-light">{{ 'Contact_text' | i18n }} </h3>
    <a href="" class="btn btn-lg btn-info"><span class="text-white">{{ 'Contact_button' | i18n }}</span></a>
</section>