<!-- ======= Footer ======= -->
<footer id="footer" class="footer bg-white">

    <div class="footer-top my-5">
        <div class="container my-5">
            <div class="row gy-4 align-items-center">
                <div class="col-md-12  col-lg-5 footer-info d-flex align-items-center justify-content-start">
                    <a href="/" class="logo d-flex align-items-center">
                        <img src="/static/images/logo.png" alt="">
                    </a>
                    <div>
                        {% include 'partials/language-selector.njk' %}
                    </div>
                </div>



                <div class="col-lg-7 col-6 footer-links">
                    <ul class="navbar  navbar-menu justify-content-end">
                        <li> <a href="#">Home</a></li>
                        <li> <a href="#">About us</a></li>
                        <li> <a href="#">Services</a></li>
                        <li> <a href="#">Terms of service</a></li>
                        <li> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</footer><!-- End Footer -->