<!-- ======= Footer ======= -->
<footer id="footer" class="footer bg-white">

    <div class="footer-top mt-2">
        <div class="container ">
            <div class="row gy-1 align-items-center">
                <div class="col-md-12  col-lg-12  footer-info d-flex align-items-center justify-content-start">
                    <a href="/" class="logo d-flex align-items-center">
                        <img src="/static/images/logo.png" alt="">
                    </a>
                </div>



                <div class="col-lg-12 col-12 footer-links align-items-center">
                    <div>
                        {% include 'partials/language-selector.njk' %}
                    </div>
                    <div>
                        <p class="text-center">
                            <a href="https://info.france-universite-numerique.fr/mentions-legales/" target="_blank" class="link-dark text-decoration-underline small "> {{ 'Legal_mentions' | i18n }}</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer><!-- End Footer -->
