
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-start align-items-lg-center">
        <div class="container">
            <div class="row d-flex flex-column-reverse flex-sm-column-reverse flex-md-row">
                <div class="col-md-8 col-lg-7 d-flex align-items-center align-items-center  align-items-md-start flex-column justify-content-center hero-content">
                    <h1 class="gradient" data-aos="fade-up">{{ 'title1' | i18n }}</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400" class="h5 col-10">{{ 'undertitle1' | i18n }}</h2>
                    <div data-aos="fade-up" data-aos-delay="600" class="d-flex mt-2">
                        <div class="text-center text-lg-start">
                            <a href="#tools" class="btn btn-blue btn-md scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span class="text-white">En savoir plus</span>
                                <i class="bi bi-arrow-down text-white ms-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 hero-img">
                </div>
            </div>
        </div>
    </section><!-- End Hero -->
