<nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto " href="#hero"><span>{{ 'section0' | i18n }}</span></a></li>
                    <li><a class="nav-link scrollto " href="#tools"><span>{{ 'section1' | i18n }}</span></a></li>
                    <li><a class="nav-link scrollto" href="#apps"><span>{{ 'section2' | i18n }}</span></a></li>
                    <li><a class="nav-link scrollto" href="#about"><span>{{ 'section3' | i18n }}</span> </a></li>
                    <li><a class="nav-link scrollto" href="#funByNumber"><span>{{ 'section4' | i18n }}</span></a></li>
                    <li style="display:none;"><a class="nav-link scrollto" href="#usertest"><span>{{ 'section5' | i18n }}</span></a></li>
                    <li><a class="nav-link scrollto" href="#contact"><span>{{ 'section6' | i18n }}</span></a></li>
                    </ul>

  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->
