<nav id="navbar" class="navbar">
  <ul>
      <li><a class="nav-link scrollto " href="#hero"><span>Présentation</span></a></li>
    <li><a class="nav-link scrollto " href="#tools"><span>Développement d'outils d'apprentissage libres et ouverts</span></a></li>
    <li><a class="nav-link scrollto" href="#apps"><span>Des plateformes et services
            d'apprentissage sur mesure</span></a></li>
    <li><a class="nav-link scrollto" href="#about"><span>Une posture éthique et respectueuse</span> </a></li>
    <li><a class="nav-link scrollto" href="#funByNumber"><span>France Université Numérique en quelques chiffres</span></a></li>
    <li><a class="nav-link scrollto" href="#usertest"><span>Témoignages</span></a></li>
    <li><a class="nav-link scrollto" href="#contact"><span>Contactez-nous</span></a></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->