<section id="funByNumber" class=" ">

    <div class="container my-5" data-aos="fade-up">
        
        <div class="rowby24 gy-2">
            <div  id="isonumb">
                <div class="grid-sizer"></div>

                <div class="col-12 col-lg-5  mt-5 itemNumb">
                    <span class="h6 text-uppercase">{{ 'Numbers_subtitle' | i18n }}</span>
                    <h2 class="h2 fw-black">{{ 'Numbers_title' | i18n }} </h2>
                </div>

                <div class="col-11 col-lg-6  mt-5 itemNumb">
                    <div class="numb-box is-horizontal">
                        <div class="numb-text">
                            <span class="numb-number">800</span>
                            <h3 class="numb-title">{{ 'Numbers_views' | i18n }}</h3>
                        </div>
                        <div class="numb-img">
                            <img src="/static/images/numbers/videos.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-11 col-lg-6 col-xl-5 mt-2 me-5 itemNumb">
                    <div class="numb-box is-horizontal">
                        <div class="numb-text">
                            <span class="numb-number">1900</span>
                            <h3 class="numb-title">{{ 'Numbers_sessions' | i18n }}</h3>
                        </div>
                        <div class="numb-img">
                            <img src="/static/images/numbers/sessions.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>


                <div class="col-11 col-lg-4 col-xl-5 mt-2 itemNumb">
                    <div class="numb-box is-horizontal">
                        <div class="numb-text">
                            <span class="numb-number">140</span>
                            <h3 class="numb-title">{{ 'Numbers_instit' | i18n }}</h3>
                        </div>
                        <div class="numb-img">
                            <img src="/static/images/numbers/institution.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-11 col-lg-7 col-xl-5  mt-2 itemNumb">
                    <div class="numb-box is-horizontal">
                        <div class="numb-text">
                            <span class="numb-number">10</span>
                            <h3 class="numb-title">{{ 'Numbers_projects' | i18n }}</h3>
                        </div>
                        <div class="numb-img">
                            <img src="/static/images/numbers/project.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-11 col-lg-4 col-xl-3 mt-2 itemNumb">
                    <div class="numb-box is-vertical">
                        <div class="numb-text">
                            <span class="numb-number">1</span>
                            <h3 class="numb-title">{{ 'Numbers_events' | i18n }}</h3>
                        </div>
                        <div class="numb-img">
                            <img style="margin-bottom: -20px;margin-right: -40px;"
                                 src="/static/images/numbers/apprent.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-11 col-lg-5 col-xl-3   mt-2 itemNumb">
                    <div class="numb-box is-vertical">
                        <div class="numb-text">
                            <span class="numb-number">9500</span>
                            <h3 class="numb-title">{{ 'Numbers_people' | i18n }}</h3>
                        </div>
                        <div class="numb-img">
                            <img src="/static/images/numbers/communaute.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>

                <div class="col-11 col-lg-4  col-xl-5   mt-2 itemNumb">
                    <div class="numb-box is-horizontal">
                        <div class="numb-text">
                            <span class="numb-number">3</span>
                            <h3 class="numb-title">{{ 'Numbers_learner' | i18n }} </h3>
                        </div>
                        <div class="numb-img">
                            <img src="/static/images/numbers/learning.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>


                <div class="col-11 col-lg-7 col-xl-5   offset-xl-1 mt-2 itemNumb">
                    <div class="numb-box is-horizontal">
                        <div class="numb-text">
                            <span class="numb-number">14</span>
                            <h3 class="numb-title">{{ 'Numbers_visit' | i18n }}</h3>
                        </div>
                        <div class="numb-img">
                            <img src="/static/images/numbers/visit.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>



            </div>
        </div>




    </div>

</section>