<section id="tools" class="tools">

    <div  data-aos="fade-up">
        <div class="container">
            <header class="section-header p-0">
                <span class="h6 text-uppercase">{{ 'Tools' | i18n }}</span>
                <h2 class="fw-black col-8 m-auto">{{ 'Tools_title' | i18n }}</h2>
            </header>
        </div>
        <div class="testimonials-slider swiper-container mt-5" data-aos="fade-up" data-aos-delay="200">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="figure">
                            <img src="/static/images/tools/catalog.png" class="testimonial-img" alt="">
                        </div>
                        <p class="display-6 fw-bold">
                            {{ 'Tools_Catalogue' | i18n }}
                        </p>
                        <div class="profile mt-auto">
                            <img src="/static/images/tools/apps/richie_white.png" class="testimonial-img" alt="">
                            <img src="/static/images/tools/apps/joanie_white.png" class="testimonial-img" alt="">
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="figure">
                            <img src="/static/images/tools/learnapp.png" class="testimonial-img" alt="">
                        </div>
                        <p class="display-6 fw-bold">
                            {{ 'Tools_System' | i18n }}
                        </p>
                        <div class="profile mt-auto">
                            <img src="/static/images/tools/apps/moodle.png" class="testimonial-img" alt="">
                           <img src="/static/images/tools/apps/edx.png" class="testimonial-img" alt="">
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="figure">
                            <img src="/static/images/tools/discuss.png" class="testimonial-img" alt="">
                        </div>
                        <p class="display-6 fw-bold">
                            {{ 'Tools_Gestion' | i18n }}
                        </p>
                        <div class="profile mt-auto">
                            <img src="/static/images/tools/apps/ashley-white.png" class="testimonial-img" alt="">

                            <img src="/static/images/tools/apps/jitsi.png" class="testimonial-img" alt="">

                            <img src="/static/images/tools/apps/bigblue.png" class="testimonial-img" alt="">
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="figure">
                            <img src="/static/images/tools/multimedia.png" class="testimonial-img" alt="">
                        </div>
                        <p class="display-6 fw-bold">
                            {{ 'Tools_Services' | i18n }}
                        </p>
                        <div class="profile mt-auto">
                            <img src="/static/images/tools/apps/marsha_white.png" class="testimonial-img" alt="">
                        </div>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <div class="figure">
                            <img src="/static/images/tools/learning.png" class="testimonial-img" alt="">
                        </div>
                        <p class="display-6 fw-bold">
                            {{ 'Tools_Learning' | i18n }}
                        </p>
                        <div class="profile mt-auto">
                            <img src="/static/images/tools/apps/potsie_white.png" class="testimonial-img" alt="">
                            <img src="/static/images/tools/apps/ralph_white.png" class="testimonial-img" alt="">
                            <img src="/static/images/tools/apps/grafana.png" class="testimonial-img" alt="">
                        </div>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="testpag">
                <div class="swiper-pagination-test"></div>
            </div>
        </div>

    </div>

</section>