/// Webfont for icons
///
/// This assumes the icon font have been built from Icomoon service.
///
/// Depends on:
///
/// - Site settings for some variables
/// - ../tools/functions
/// - ../tools/icons
///


/// Enable icons classes creation when `icons` module is imported.
///
/// @type Bool
///
$include-bb-icons: $include-bb-classes !default;

@if $include-bb-icons {
    // Font directory url path is relative to the CSS file
    @font-face {
        font-family: "icomoon";
        src: font-url("icons/icomoon.eot");
        src: font-url("icons/icomoon.eot?#iefix") format("embedded-opentype"),
            font-url("icons/icomoon.ttf") format("truetype"),
            font-url("icons/icomoon.woff") format("woff"),
            font-url("icons/icomoon.svg#icomoon") format("svg");
        font-weight: normal;
        font-style: normal;
    }

    // Basic icon element prepend content with an icon from a class
    // like ".icon-close"
    [class^="icon-"],
    [class*=" icon-"] {
        display: inline-block;

        &::before {
            @include bb-icon;
        }
    }

    // Insert icon at left inside a Bootstrap button
    .btn[class^="icon-"],
    .btn[class*=" icon-"] {
        font-family: inherit;

        &::before{
            margin-right: rem-calc(5px);
        }
    }

    // Icon Sizes
    @each $name, $value in $bb-icon-sizes {
        .icon-#{$name}{
            font-size: $value;
        }
    }

    // Import icon map part
    @include bb-include-icons;
}
