---
title: Fun Page
---

<!DOCTYPE html>
<html lang="{{ 'html_locale' | i18n }}" dir="{{ 'html_dir' | i18n }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ 'head_title' | i18n }}</title>
  <meta name="description" content="{{ 'head_description' | i18n }}">
  <!-- Open Graph + Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@funmooc">
  <meta property="og:url" content="{{ 'head_url' | i18n }}">
  <meta property="og:title" content="{{ 'head_title' | i18n }}">
  <meta property="og:description" content="{{ 'head_description' | i18n }}">
  <meta property="og:image" content="{{ 'head_meta_image' | i18n }}">

  <!-- Apple icon (minimal) -->
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <!-- CSS -->
    <link rel="stylesheet" href="/static/css/main.css?ref={{ site.buildDate | date('X') }}">
</head>

<body data-barba="wrapper">

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-start justify-content-between">
    <div class="logos">

      <a href="index.html" class="logorf d-flex align-items-center">
        <img src="/static/images/logorf.png" alt="">
      </a>
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="/static/images/logo.png" alt="">
      </a>
    </div>
    {% include "partials/nav.njk" %}


  </div>
</header><!-- End Header -->


{% block hero %}

{% endblock %}



  {% block banimg %}
  {% endblock %}


  {% block contenthere %}
    {{ content | safe }}
  {% endblock %}


  <!-- ======= Footer ======= -->
{% include "partials/footer.njk" %}


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

</body>

<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("pageCont").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("pageCont").style.marginLeft= "0";
  }
</script>

<script type="module" src="/static/scripts/index.js?ref={{ site.buildDate | date('X') }}"></script>

</html>
