/**

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Be Vietnam Pro", sans-serif;
}

.row {
  img {
    max-width: 100%;
  }
}
.gradient {

  background: linear-gradient(to bottom,#042CBD, #29C7CC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fw-black {
 font-weight: 900;
}
h2 {
  color: $blue;
}

.fullhome {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
#main {
  padding-bottom: 0;
  overflow: hidden;

}
.main-content .container {
  color: $white;
}

section {
  padding: 60px 0;
  //overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
  z-index: 10;
  position: relative;
  @include media-breakpoint-down(sm){
    padding-bottom: 20px;
  }
  h2 {
    font-weight: 900;
  }
}


.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: $blue;
  width: 40px;
  height: 40px;
  border-radius:40px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

#header {
  .logo {
    line-height: 0;
    width: 110px;
    height:65px;
    max-height: 16vh;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 6px);
    position: absolute;
    transition: 0.25s all ease-in-out;
    background: url('/static/images/logo.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 10vh;

    img {
      display: none;
      max-height: 100%;
      transition: 0.25s all ease-in-out;
      @include media-breakpoint-up(md){
        width: 100%;
      }
    }

  }

  .logorf {
    width: 65px;
    height:56px;
    transition: 0.25s all ease-in-out;
    background: url('/static/images/logorf.png');
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    max-height: 8vh;
    img {
      display: none;
      max-height: 100%;
      transition: 0.25s all ease-in-out;
      width: 100%;
    }
  }
  &:not(.header-scrolled) {
    .logo {
      @include media-breakpoint-up(lg){
      width: 320px;
      height:178px;
        max-height: 16vh;
      }
    }
    .logorf {
      width: 129px;
      max-width: 22vw;
      height: 56px;
      @include media-breakpoint-up(lg){
        height:113px;
      }
    }
    .navbar .level-1  > a, .navbar .level-1  >  a:focus {
      color:$white;
    }
  }
}


.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Header special
--------------------------------------------------------------*/
#linkheader {border-radius: 0 12px 0 0}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background: $paleGrey;
  background-size: cover;
  //overflow: hidden;
  position: relative;
}

.hero h1 {
  margin: 0;
  font-weight: 900;
  line-height: 0.9em;

  @include media-breakpoint-up(md){
    font-size: 2.5rem;
  }
  @include media-breakpoint-up(lg){
    font-size: 3rem;
  }
  @include media-breakpoint-up(xxl){
    font-size: 3rem;
  }
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}
.hero .hero-content {
  z-index: 1;
}
.hero .hero-img {
  position: relative;
  height: 340px;
  &:before {
    content:"";
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: url('/static/images/theme/imgTop.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events:none;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  @include media-breakpoint-up(md){
    position: absolute;
    transform: translate(-50%,-50%);
    width: 50vw;
    height: 50vh;
    z-index: 0;
    left: 50%;
    top: 50%;

    &:before {
      content:"";
      width: 80vw;
      height: 100vh;
      position: absolute;
      z-index: 0;
      background: url('/static/images/theme/imgTop.png');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      pointer-events:none;
      max-height: 88vh;
      left: 70%;
      top: 61%;
      transform: translate(-50%,-50%);
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
    min-height: 80vh;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img {
    height: 100vw;
    max-height: 390px;
    margin-top: -80px;
    img {
      width: 100%;
    }
  }
}

#heroIntern {
  height: 75vh;
}



/*--------------------------------------------------------------
# Emphasized links
--------------------------------------------------------------*/
a.btn.btn-emphasized {
  background: linear-gradient(#e20914, #be1522 50%);
  background-position: 0 0;
  background-size: 100% 200%;
  border-radius: 100vw;
  border: none;
  color: #FFF;
  padding: 0.75rem 1.5rem;
  transition: all ease-in-out 150ms;

  &.btn-sm {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
  }

  &:hover {
    background-position: 0 100%;
    color: #FFFB;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# TOOLS
--------------------------------------------------------------*/
#tools {
  background-image: linear-gradient(to bottom, #fefbfb,#fefbfb 90%, #fff);
}
.tools {

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 50vw;
    padding: 3vw;
    height: 100vw;
     .figure img {
      max-width: 100%;
    }

    @include media-breakpoint-down(md){
      .testimonial-item {
        display: flex;
        flex-direction: column;
        max-width: 80vw;
      }
       .profile {
        max-width: 80vw;
        display: flex;
         > a {
           max-width: 35%;
         }
        img {
          width: 80%;
        }
      }
    }
    @include media-breakpoint-up(md){
      height: auto;
    }

  }
  .profile  {
    display:flex;
    justify-content: center;
    align-items: center;
    img {
      margin: 0 0.5rem;
    }
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  z-index: 10;
}
.about  {
  position: relative;
  background-image: linear-gradient(to bottom, #F7F7F7 ,#F7F7F7 10%, #EBEEF4 65%);
  h4 {
  font-size: 16px;
  font-weight: 600;
  color: $teal;
  text-transform: uppercase;
  }

  h2 {
    &.h2rem {
      @include media-breakpoint-up(md){
      font-size: 2.6rem !important;letter-spacing: -0.75px;
      }
    }
  }

 p {
  margin: 15px 0 30px 0;
  line-height: 24px;
  }
  .img-fluid {
    position: absolute;
    left: -25%;
    bottom: -2px;
  }

  .content {
    height: 55vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &:before {
    content:'';
    display: block;
    background-image:url('/static/images/theme/wave-eth.png');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    width: 100% ;
    height: auto;
    padding-bottom: 12.5%;
    z-index: 0;
    pointer-events: none;
  }
  #about-text {
    z-index: 15;
  }
}



/*--------------------------------------------------------------
# tools APP
--------------------------------------------------------------*/
#apps {
  background-image: linear-gradient(to top ,#FBFBDC, #fff 90%);
  position: relative;

  @include media-breakpoint-up(md){
  min-height: 820px;
  height: 820px;}

  @include media-breakpoint-up(lg){
    min-height: 900px;
    height: 90vh;
  }


  &:before {
    content:'';
    display: block;
    background-image:url('/static/images/tools/bg-tools.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    width: 100% ;
    height: 100%;
    max-height: 900px;
    z-index: 1;
    pointer-events: none;
  }
}



#toolsapp {
  position: relative;
  &::before {
    content:'';
    display: block;
    position: absolute;
    z-index: 4;
    width: 84vw;
    height: 66vw;
    pointer-events: none;
    background: url('/static/images/tools/tablet.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 50%;
    transform: translate(-50%,0);
  }
  .swiper-slide {

    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 6%;
    flex-direction: column;

  }

  @include media-breakpoint-up(md){
    &::before {
      width: 580px;
      height: 396px;
      background-size: contain;
    }
  }

  @include media-breakpoint-up(lg){
    &::before {
      width: 750px;
      height: 490px;
      background-size: contain;
    }
  }

  @include media-breakpoint-up(xl){
    &::before {
      width: 750px;
      height: 490px;
    }
  }
  @include media-breakpoint-up(xxl){
    &::before {
      width: 880px;
      height: 600px;
    }
  }

}
#toolsChoices {
  position: relative;
  top: 50px;
  left: 0;
  z-index: 12;
  width: 100%;
  display: grid;
  grid-template-columns: [first] 50% [startSlider] auto [stopSlider] 50% [end];
  grid-template-rows:   [row1-start] auto [row1-end] auto [row2-end] auto [last-line];
  pointer-events: none;

  margin-bottom: 220px;

  @include media-breakpoint-up(md){
    margin-bottom: auto;
    position: absolute;
    grid-template-rows:   [row1-start] 150px [row1-end] 150px [row2-end] auto [last-line];
  }

  > * {
    pointer-events: initial;
  }
  h4 {font-weight: 800}
  > a {
    color: $blacked;
    cursor: pointer;
    padding: 1rem;
    @include media-breakpoint-up(md) {
      padding: 0;
    }
  }
  .filter-active {
    * {
      color: $blue;
    }
  }
  #goto0 {
    grid-area: 1 / first / row1-end / 2;
    text-align: right;
  }
  #goto1 {
    grid-area: 2 / first / row2-end / 2;
    text-align: right;
  }
  #goto2 {
    grid-area: row1-start / stopSlider / row1-end / end;
  }
  #goto3 {
    grid-area: row1-end / stopSlider / row2-end / end;;
  }
  @include media-breakpoint-down(sm) {
    top: 30px;
    display: block;
    a > p {
      display: none;
    }
    a {
      padding: 0;
      text-align: center !important;
      h4 {
        font-size: 1rem;
      }
    }
  }
  @include media-breakpoint-up(md) {
    grid-template-columns:
            [first] calc((100vw - 440px) / 2) [startSlider] 440px [stopSlider] calc((100vw - 440px) / 2) [end];
    > a {
      * {
        display: inline-block;
        max-width: 25vw;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns:
            [first] calc((100vw - 540px) / 2) [startSlider] 540px [stopSlider] calc((100vw - 540px) / 2) [end];
    > a {
      * {
        display: inline-block;
        max-width: 25vw;
      }
    }
  }
  @include media-breakpoint-up(xl) {

    grid-template-columns: [first] 300px [startSlider] auto [stopSlider] 300px [end];;
    > a {
      * {
        display: inline-block;
        max-width: 25vw;
      }
    }
  }

}
.toolsSwiper {
  overflow: hidden;
  margin: auto;
  width: 60vw;
  height: 35vw;
  margin: auto;
  margin-top: 10px;

  @include media-breakpoint-up(md){
    width: 400px;
    height: 230px;
    margin-top: 20px;
  }

  @include media-breakpoint-up(lg){
    width: 464px;
    height: 300px;
    margin-top: 20px;
  }

  @include media-breakpoint-up(xl){
    width: 500px;
    height: 300px;
    margin-top: 20px;
  }
  @include media-breakpoint-up(xxl){
    width: 604px;
    height: 376px;
    margin-top: 30px;
  }
}
.toolsSwiper .swiper-slide {
  height: 100%;
  width: 100%;
}
.goto1Tools {
  position: relative;z-index: 10;
  cursor: pointer;
}
#slide-app1,
#slide-app2,
#slide-app3,
#slide-app4 {
  background: url('/static/images/tools/mooc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#slide-app2 {
  background-image: url('/static/images/tools/campus.jpg');
}
#slide-app3{
  background-image: url('/static/images/tools/corp.jpg');
}
#slide-app4 {
  background-image: url('/static/images/tools/meet.jpg');
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: $pink;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# aboutWW
--------------------------------------------------------------*/
#aboutWW {
  padding: 0;
  background-image: linear-gradient(to right ,$white, $white 50%, $dark 50.1%, $dark);
}

@media (max-width: 768px) {
  .aboutWW h3 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# usertest
--------------------------------------------------------------*/
#usertest {
  background: $lila;
}
.usertest .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  background: transparent;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: 0.3s;

  @include media-breakpoint-down(md){
    margin: 20px 15px;
    padding: 10px;
  }

  @include media-breakpoint-down(sm){
    min-height: auto;
  }
  .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  >div {
    text-align: left;
    padding-left: 1rem;
    width: 100%;
  }
  }
}

.usertest .testimonial-item .stars {
  margin-bottom: 15px;
}

.usertest .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}

.usertest .testimonial-item .testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid $cyan;
  margin: 0 auto;
}

.usertest .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.usertest .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.usertest .testimonial-item p {
  font-style: italic;
  margin: 1.5rem auto 15px auto;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  @include media-breakpoint-down(md){
    font-size: 1rem;
    line-height: 1.1rem;
  }
}

.usertest .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.usertest .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.usertest .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}

.usertest .swiper-slide {
  opacity: 1;
  width: calc(100% / 3);
}

@media (max-width: 1199px) {
  .usertest .swiper-slide-active {
    opacity: 1;
  }
  .usertest .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .usertest .swiper-slide-active {
    opacity: 1;
    transform: scale(1.12);
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/


.tools  .testpag {
  display: flex;
  width: 100%;
  justify-content: center;
  @include media-breakpoint-down(md){
    margin-top: 2rem;
  }
}
.tools .swiper-pagination-test {
  position: relative;
  left: auto;
  margin: auto;
  margin-top: 4px;
  display: flex;
  justify-content: center;
}

.tools .swiper-pagination-test .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  opacity: 1;
  margin:0 4px;
  background: $gray-500;
}

.tools .swiper-pagination-test .swiper-pagination-bullet-active {
  background-color: $cyan;
}

.tools .display-6 {

  @include media-breakpoint-down(sm){
    font-size: 1rem !important;
  }
}
@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../images/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}

.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}

.team .member .social a {
  transition: color 0.3s;
  color: rgba(1, 41, 112, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}

.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 10px 15px 20px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #012970;
}

.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}

.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.team .member:hover .social {
  right: 8px;
  opacity: 1;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
#clients {
 background: $lila;
}
.clients .clients-slider .splide__list{
 display: flex;
  align-items: center;
  justify-content: center;
}
.clients .clients-slider .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}

.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid $pink;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: $pink;
}

/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
#isonumb {
  max-width: 100%;
  margin-bottom: 10vw
;
}
#funByNumber
{ position: relative;
  background: $white;
>.container{
  position: relative;
  z-index: 1;
}
  &:after {
    content:'';
    display: block;
    background-image:url('/static/images/theme/wave-eth-bottom.png');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    width: 100% ;
    height: auto;
    padding-bottom:30%;
    z-index: 0;
    pointer-events: none;
  }

  #isonumb {
    @include make-col-ready();
    @include make-col(24);
    .col-lg-1 {
      @include row-cols(2);
    }
  }
  .grid-sizer {
    width: 1%;
    height: 10%;
  }
  .itemNumb {}
  .numb-box {
      box-shadow: 0px 0 2px rgba(1, 41, 112, 0.35);
      transition: 0.3s;
      height: 100%;
      overflow: initial;
      padding: 16px;
      border-radius: 8px;
      position: relative;
      display: flex;
      flex-direction: column;
    margin-left: 1rem;
    margin-bottom: 2rem;

    .numb-text {
      padding: 1rem;
    }
    .numb-img {
      overflow: initial;
      margin: -16px -16px 15px -16px;
      position: relative;
      img {
        transition: 0.5s;
      }
    }

    .numb-title {
      font-size: 24px;
      color: $blacked;
      font-weight: 200;
      position: relative;
      transition: 0.3s;
      @include media-breakpoint-down(md){
        text-align: center;
        font-size: 5vw;
      }
      @include media-breakpoint-down(sm){
        font-size: 6.5vw;
      }
    }

    .numb-number {
      font-size: 86px;
      font-weight: 900;
      color: $blacked;
      display: block;
      line-height: 1;
      margin: 0;

      @include media-breakpoint-down(md){
        text-align: center;
        font-size: 15vw;
      }
      @include media-breakpoint-down(sm){
        font-size: 19vw;
      }

    }

    .readmore {
      display: flex;
      align-items: center;
      font-weight: 600;
      line-height: 1;
      transition: 0.3s;
      i {
        line-height: 0;
        margin-left: 4px;
        font-size: 18px;
      }
    }

    &:hover {
      .numb-title {
        color: $primary !important;
      }
      .numb-img img {
        transform: rotate(6deg) scale(1.2);
      }

    }
    &.is-vertical {
      .numb-img {
        text-align: center;
        margin: 0px -16px -16px -16px;
      }
    }
    &.is-horizontal {
      @include media-breakpoint-up(md){
      height: 210px;
      display: flex;
      flex-direction: row;
      padding: 0;
      justify-content: space-between;}
      .numb-img {
        @include media-breakpoint-up(md){
        overflow: initial;
        margin:0;
        position: relative;
        width: 45%;
        }
        @include media-breakpoint-up(xl){
        min-width: 240px;
        text-align: right;
        }

        img {
          @include media-breakpoint-up(md){
          max-width: initial;
          height: 100%;
          object-fit: initial;}
          @include media-breakpoint-up(xl){
            max-width: auto;
            height: calc(100% + 20px);
            margin: -10px;

          }

        }
      }
      .numb-content {
        @include media-breakpoint-up(md){
        width: 55%;
        padding: 0 16px;
        }
      }
    }
  }
}








/*--------------------------------------------------------------
# prefoot
--------------------------------------------------------------*/
#news, #contact {
  background: $lila;
}

#contact {
 min-height: 400px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  &:before {
    content:'';
    display: block;
    position: absolute;
    z-index: 0;
    width: 33vw;
    height: 33vw;
    pointer-events: none;
    background: url('/static/images/theme/contact.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    right: 0;
    bottom:0;
    background-size:contain ;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  .h1,.h2 {
    color: $blue;
    letter-spacing: -0.05em;
  }

}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}

.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: $pink;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  background: #fafbff;
  padding: 30px;
  height: 100%;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: $pink;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: $pink;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #5969f3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 4px 0 4px 0;
  font-size: 14px;
  .logo {
    line-height: 0;
    height:42px;
    svg {
      #Fill-4 ,#Fill-6,#Fill-9,#Fill-11{
        fill: $white;
      }
      #Fill-13,#Fill-16,#Fill-18,#Fill-19 {
        fill:$white;
      }
    }
  }
}


.footer .footer-top {
  background-size: contain;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 5px;
  margin-top:0;

}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin: auto;
}

.footer .footer-top .footer-info .logo img {
  margin-right: 6px;
  max-width: 100%;
  max-height: 100%;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {

  margin-bottom: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba($white, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: $white;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 5px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: $black;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {

}

.footer .footer-top .footer-links ul a {
  color: $white;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: lighten($white,20%);
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: $gray-200;
}

.footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: $gray-200;
}
