---
layout: layout.njk
barbaTitle: Home
title: Hello
data: collections.blogposts
---

{% block banimg %}

{% endblock %}


{% block hero %}
{% endblock %}

{% block contenthere %}
  <main id="main" class="fullhome">
    <!-- ======= Testimonials Section ======= -->
    <a href="/fr/">Lien francais</a>
    <a href="/en-gb/">Lien anglais</a>

  </main><!-- End #main -->
{% endblock %}