---
layout: layout.njk
barbaTitle: Home
title: Hello
data: collections.blogposts
---

{% block banimg %}

{% endblock %}


{% block contenthere %}
  <main id="main">
    <!-- ======= Testimonials Section ======= -->
    <a href="/fr">Lien francais</a>

  </main><!-- End #main -->
{% endblock %}